
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <!-- <p>Checkout Recepies <a routerLink="/recepies">Recepies</a></p> -->
  

</ion-content>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/account/register']" expand="block" color="primary">Register</ion-button>

      

        <!-- <span class="divider line one-line">or</span> -->
        <!-- Divider Text -->
        <div
          class="form-group col-lg-12 mx-auto d-flex align-items-center my-4"
        >
          <div class="border-bottom w-100 ml-5"></div>
          <span class="px-2 small text-muted font-weight-bold text-muted"
            >OR</span
          >
          <div class="border-bottom w-100 mr-5"></div>
        </div>

        <span class="already">Already a user?</span>
        <ion-button [routerLink]="['/account/login']" expand="block" color="danger">Login</ion-button>
        

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
